# GIT
alias gs='git status '
alias ga='git add '
alias gb='git branch '
alias gc='git commit'
alias gd='git diff'
alias go='git checkout '
alias gk='gitk --all&'
alias gx='gitx --all'
alias ghist='git log -20 --pretty --oneline'

alias rdy='go master && git pull && go dev && git pull && npm install'
